// Place all the styles related to the practics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Comfortaa|Lobster');

@import url('https://fonts.googleapis.com/css?family=Kalam');

@import url('https://fonts.googleapis.com/css?family=El+Messiri');


body {
  width: 100%;
  /*height: 100%;*/
  background: #636160;
  background-image: url(image_path('grass.jpg'));
background-size: 100%;
  color: #FEFE3C;
  
  font-family: 'Lobster', cursive;

  margin: 0px;

}



::selection {
  background-color: #F87911;
}

.rightbar { 
  position: fixed;
  left: 0px;
  top: 120px;
  width: 50px;
  height: calc(100% - 120px);
  margin-right: 5px;
  padding-top: 15px;

  background-color: #fe3c3c;

  z-index: 122;
}


    .navigation > input {
  display: none;
}
   
    .navigation > label > .backgroundlabel{
      background-color: none;
      cursor: pointer;
    }






    .testblock > label {
      width: 50px;
      height: 50px;
    }

    .testblock > label:hover {
      background-color: gold;

    }

  .backgroundlabel:active {
  background-color: #fe3c3c;
} 


  .barcontacts {
    position: absolute;
    bottom: 15px;
    z-index: 120;
  }

      .contactlink > a {
      width: 50px;
      height: 50px;
      z-index: 121;

    }
    .contactlink > a :hover {

      background-color: #FEFE3C;
      border-radius: 4px;
    }

.allbody {

      width: auto;
      height: 100%;
        overflow: auto;
      margin: 0px auto;

      z-index: 101;
      

}



.bottombody {
    width: calc( 100% - 50px);
	height: 100%;

    padding-top: 0px;
} 
	.imghead {
		height: 200px;
		width: 1000px;
	}
		.headimg {
		height: 200px;
		width: 1000px;
	}

	.headtext {
		width: 1000px;
		height:150px;
		margin-top: -190px;
		padding-left: 20px;
	}

.inline {
	display: inline-block;
}



.info  {
  width: 100%;
}

.block {
  width: 100%;
  height: auto; 
    min-height: 350px;
      margin: 0px 0px 20px;
    border-radius: 5px;
  padding: 15px;

  background-color: rgba(131, 47, 165, 0.8);
}
    .block > p {
      padding: 10px;
    }
    .block > li {
      padding: 10px;
    }
      .picture {
        width: 250px;
        height: 250px;
        margin: 10px;
      }
      .left {
        float: left;
      }
      .right {
        float: right;
      }
      .ostepic {
        width: 250px;
        height: 250px;

      }





              .-shape-outside {
                shape-outside: circle(57%);
                float: left;
              }

              .circle {
                width: 200px;
                height: 320px;
                background-color: #fff;
                border-radius: 1% 5% 30% 5%;
                margin-right: 24px;
                overflow: hidden;
                border: 1px solid #eee;
                img {
                  width: 100%;
                  height: 100%;
                }
              }

              div {
                text-align: justify;
              }

              .olichkafoto{
                width: 250px;
                height:auto;
                float: left;
              }


.tabbed {
  position: fixed;
      height: 100%;

  width: 100%;
  margin: 0px auto;

  z-index: 102;

  
}
.tabbed > h2 {

}

.tabbed > input {
  display: none;
}

.tabbed > label {

      text-align: center;
      font-size: 12px;
  width: 50px;
  height: 60px;
  display: block;
  margin: 0px 0px;
  cursor: pointer;
  transition: background-color .3s;
  z-index: 103;
  background-color: #fe3c3c;
      border-top: 2px solid gold;
    border-bottom: 2px solid gold;
}

.tabbed > label:hover,
.tabbed > input:checked + label {
    text-decoration: underline;
    font-size: 12px;
    color: #ffd700;
    background-color: #832fa5;

  }
      #borderl1 {
          border-top: 4px solid gold;
          border-bottom: 2px solid gold;
      }
      #borderl2 {
        border-top: 2px solid gold;
        border-bottom: 4px solid gold;
      }

    .iconbar {
      width: 40px;
      margin:  5px;
      margin-top: 10px;
    }
        #wingsmarg1 {
          margin-top: 13px;
        }
        #wingsmarg2 {
          margin-top: 8px;
        }
.tabs {
  clear: both;
  perspective: 600px;
  height: 100%;

}

.tabs > div {

  width: calc(100% - 50px);
  position: absolute;

    height: 100%;
    overflow: auto;
  padding: 10px ;
  
  margin-top: -120px;
  margin-left: 50px;
  line-height: 1.4em;
  opacity: 0;

        /*font-family: 'Comfortaa', cursive;*/
            font-family: 'Kalam', cursive;
      color: #FEFE3C;
  transform: rotateY(20deg);
  transform-origin: left center;
  transition: opacity .3s, transform 1s;
  z-index: 0;
}
      ::-webkit-scrollbar { 
          display: none; 
      }

#tabsheigth {
  height: 100%;
}

#tab-nav-1:checked ~ .tabs > div:nth-of-type(1),
#tab-nav-2:checked ~ .tabs > div:nth-of-type(2),
#tab-nav-3:checked ~ .tabs > div:nth-of-type(3),
#tab-nav-4:checked ~ .tabs > div:nth-of-type(4){
  transform: rotateX(0deg);
  opacity: 1;
  z-index: 1;
}



.wingsinfo{
  width: 100%;
  height: auto;
  margin: 20px 0px;
  padding: 15px;

  background-color: rgba(87, 204, 204, 0.7);
}
    .wingsfoto {
      height: 100px;
    }
    .wingsinfofoto{
      height: 100%;
      
    }

.contactblock {
        width: auto;
      float: right;
}



.contactlinks {  
      text-align: center;

    }

    .contactlinkpage > a {
      width: 50px;
      height: 50px;
      z-index: 121;

    }
    .contactlinkpage > a :hover {

      background-color: #fe3c3c;
      border-radius: 9px;
    }

  .contacticon {
     width: 90px;
     height: 90px;
      margin: 0px 15px;
    }


.map {
  width: 100%;
  height: auto;


}



.trick {
  width: 250px;
  height: auto;
  margin: 10px 15px;
  border: 2px solid gold;

}
  .trickfoto{
    width: 100%
  }





.sertifications{
  width: 100%;
}
  .blok1 {
    position: relative; 
    cursor:pointer; 
    display: inline-block;
    margin: 5px 15px;
  }
  .blok1 img + img {
    position:absolute; 
      left: 0px;
    top:-550px; 
    z-index:200; 
    display: none;
  }
  .blok1:hover img + img {
    display: block;

  }
        .blok2 {
        position: relative; 
        cursor:pointer; 
        display: inline-block;
        margin: 5px 15px;
      }
      .blok2 img + img {
        position:absolute; 
          left: -150px;
        top:-550px; 
        z-index:200; 
        display: none;
      }
      .blok2:hover img + img {
        display: block;

      }

        .blok3 {
        position: relative; 
        cursor:pointer; 
        display: inline-block;
        margin: 5px 15px;
      }
      .blok3 img + img {
        position:absolute; 
          left: -300px;
        top:-550px; 
        z-index:200; 
        display: none;
      }
      .blok3:hover img + img {
        display: block;
      }


.sertificatmini {
  width: 80px;
  
}

.sertificatlarge {
  width: 380px;
  height: 550px;
}


.serti {
  position: absolute;
  left: -200px;
}