// Place all the styles related to the practics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background: #636160;
  background-image: url(image_path('grass.jpg'));
background-size: 100%;
  color: #FEFE3C;
  font: 1em 'PT Sans', sans-serif;
  margin: 0px;

}



::selection {
  background-color: #F87911;
}

.rightbar { 
  position: fixed;
  left: 0px;
  top: 120px;
  width: 50px;
  height: calc(100% - 120px);
  margin-right: 5px;
  padding-top: 15px;

  background-color: #fe3c3c;

  z-index: 100;
}
    .iconbar {
      width: 40px;
      margin:  5px;
      margin-top: 10px;
    }
        #wingsmarg {
          margin-top: 13px;
        }

    .navigation > input {
  display: none;
}
   
    .navigation > label > .backgroundlabel{
      background-color: none;
      cursor: pointer;
    }


.contactlink > a {
  width: 50px;
  height: 50px;

}

     .contactlink > a :hover {

      background-color: gold;
      border-radius: 6px;
    }



    .testblock > label {
      width: 50px;
      height: 50px;
    }

    .testblock > label:hover {
      background-color: gold;

    }

  .backgroundlabel:active {
  background-color: #fe3c3c;
} 


  .barcontacts {
    position: absolute;
    bottom: 15px;
  }

.allbody {

      width: auto;
      height: auto;
      margin: 0px auto;

      z-index: 101;
      

}



.bottombody {
    width: calc( 100% - 50px);
	height: auto;

    padding-top: 0px;
} 
	.imghead {
		height: 200px;
		width: 1000px;
	}
		.headimg {
		height: 200px;
		width: 1000px;
	}

	.headtext {
		width: 1000px;
		height:150px;
		margin-top: -190px;
		padding-left: 20px;
	}

.inline {
	display: inline-block;
}



.info  {
  width: 100%;
}

.block {
  width: 100%;
  height: auto;
  margin: 20px 0px;
  padding: 15px;

  background-color: rgba(87, 204, 204, 0.7);
}
    .block > p {
      padding: 10px;
    }
    .block > li {
      padding: 10px;
    }
      .picture {
        width: 250px;
        height: 250px;
        margin: 10px;
      }
      .left {
        float: left;
      }
      .right {
        float: right;
      }
      .ostepic {
        width: 250px;
        height: 250px;

      }

.tabbed {
  width: 100%;
  margin: 0px auto;

  z-index: 102;

  
}
.tabbed > h2 {

}

.tabbed > input {
  display: none;
}

.tabbed > label {
      text-align: center;
      font-size: 12px;
  width: 50px;
  height: 60px;
  display: block;
  margin: 0px 0px;
  cursor: pointer;
  transition: background-color .3s;
  z-index: 103;
  background-color: #fe3c3c;
      border-top: 2px solid gold;
    border-bottom: 2px solid gold;
}

.tabbed > label:hover,
.tabbed > input:checked + label {
    text-decoration: underline;
    font-size: 12px;
    color: #ffd700;
    background-color: #832fa5;
    border-top: 2px solid gold;
    border-bottom: 2px solid gold;
  }

.tabs {
  clear: both;
  perspective: 600px;
  height: 100%;
}

.tabs > div {

  width: calc(100% - 10px);
  position: absolute;

  min-height: 800px;
  padding: 10px ;
  
  margin-top: -120px;
  margin-left: 60px;
  line-height: 1.4em;
  opacity: 0;
  background-color: rgba(87, 204, 204, 0);
      color: #FEFE3C;
  transform: rotateY(20deg);
  transform-origin: left center;
  transition: opacity .3s, transform 1s;
  z-index: 0;
}

#tabsheigth {
  height: 100%;
}

#tab-nav-1:checked ~ .tabs > div:nth-of-type(1),
#tab-nav-2:checked ~ .tabs > div:nth-of-type(2),
#tab-nav-3:checked ~ .tabs > div:nth-of-type(3),
#tab-nav-4:checked ~ .tabs > div:nth-of-type(4){
  transform: rotateX(0deg);
  opacity: 1;
  z-index: 1;
}


.homeinfo {
}

    .olichkafoto{
      width: 250px;
      height:auto;
      float: left;
    }

.wingsinfo{
  width: 100%;
  height: auto;
  margin: 20px 0px;
  padding: 15px;

  background-color: rgba(87, 204, 204, 0.7);
}
    .wingsfoto {
      height: 100px;
    }
    .wingsinfofoto{
      height: 100%;
      
    }




.map {
  width: 100%;
  height: auto;
  background-color: rgba(87, 204, 204, 0.7);

}

    .contactlinks {
       
      text-align: center;
    }
       .contacticon {
         width: 90px;
         height: 90px;
          margin: 0px 15px;
       
        }


/* SLiDERS!!!!!!!!!!!!!!!!!!!!!! */

.sliderbody {
  width: 200px;
  height: 800px;
  background-color: green;
  margin: auto;

} 

.slidersright {
	height: 200px;
	width: 200px;
	    margin-left: -40px;
}

.slides {
    height: 200px;


    overflow: hidden;
    position: relative;
    width: 200px;
    border-radius: 3px;

}
      .slides ul {
          list-style:none;
          position:relative;
          margin: 0px;

      }
      /* Кадры анимации #anim_slides */

      @-webkit-keyframes anim_slides {
          0% {
              opacity:0;
          }
          6% {
              opacity:1;
          }
          24% {
              opacity:1;
          }
          30% {
              opacity:0;
          }
          100% {
              opacity:0;
          }
      }

      @-moz-keyframes anim_slides {
          0% {
              opacity:0;
          }
          6% {
              opacity:1;
          }
          24% {
              opacity:1;
          }
          30% {
              opacity:0;
          }
          100% {
              opacity:0;
          }
      } 

      .slides ul li {
          opacity:0;
          position:absolute;
          top:0;

          /* анимация css3 */
          -webkit-animation-name: anim_slides;
          -webkit-animation-duration: 24.0s;
          -webkit-animation-timing-function: linear;
          -webkit-animation-iteration-count: infinite;
          -webkit-animation-direction: normal;
          -webkit-animation-delay: 0;
          -webkit-animation-play-state: running;
          -webkit-animation-fill-mode: forwards;
       
          -moz-animation-name: anim_slides;
          -moz-animation-duration: 24.0s;
          -moz-animation-timing-function: linear;
          -moz-animation-iteration-count: infinite;
          -moz-animation-direction: normal;
          -moz-animation-delay: 0;
          -moz-animation-play-state: running;
          -moz-animation-fill-mode: forwards;
      }

       

      /* Задержки css3 */
      .slides ul  li:nth-child(2), .slides ul  li:nth-child(2) div {
          -webkit-animation-delay: 6.0s;
          -moz-animation-delay: 6.0s;
      }

      .slides ul  li:nth-child(3), .slides ul  li:nth-child(3) div {
          -webkit-animation-delay: 12.0s;
          -moz-animation-delay: 12.0s;
      }

      .slides ul  li:nth-child(4), .slides ul  li:nth-child(4) div {
          -webkit-animation-delay: 18.0s;
          -moz-animation-delay: 18.0s;
      }

      .slides ul li img {
          display:block;

      }

       

      /* Кадры анимации #anim_titles */

      @-webkit-keyframes anim_titles {
          0% {
              left:100%;
              opacity:0;
          }

          5% {
              left:10%;
              opacity:1;
          }

          20% {
              left:10%;
              opacity:1;
          }

          25% {
              left:100%;
              opacity:0;
          }

          100% {
              left:100%;
              opacity:0;
          }
      }

      @-moz-keyframes anim_titles {
          0% {
              left:100%;
              opacity:0;
          }

          5% {
              left:10%;
              opacity:1;
          }

          20% {
              left:10%;
              opacity:1;
          }

          25% {
              left:100%;
              opacity:0;
          }

          100% {
              left:100%;
              opacity:0;
          }
      }

       

      .slides ul li div {
          background-color: #18ef6e;
          border-radius:3px 3px 3px 3px;
          box-shadow:0 0 5px #EBCB79 none;
          color: #50156E;
          height: 32px;
          width: auto;
          font-size: 20px;

          margin:0 auto;
          padding-left: 10px;
          padding-right: 10px;
          padding-top: 5px;
          position:absolute;
          top: 160px;
          width: auto;


          /* Анимация css3 */

          -webkit-animation-name: anim_titles;

          -webkit-animation-duration: 24.0s;
          -webkit-animation-timing-function: linear;
          -webkit-animation-iteration-count: infinite;
          -webkit-animation-direction: normal;
          -webkit-animation-delay: 0;
          -webkit-animation-play-state: running;
          -webkit-animation-fill-mode: forwards;
       
          -moz-animation-name: anim_titles;
          -moz-animation-duration: 24.0s;
          -moz-animation-timing-function: linear;
          -moz-animation-iteration-count: infinite;
          -moz-animation-direction: normal;
          -moz-animation-delay: 0;
          -moz-animation-play-state: running;
          -moz-animation-fill-mode: forwards;
      }
      .slides ul li div h2 {
        margin: 0px;
      }
      .slides ul li div p {
          margin: 0px;
      }



                              .slides2 {
                                  height: 200px;


                                  overflow: hidden;
                                  position: relative;
                                  width: 200px;
                                  border-radius: 3px;

                              }
                                    .slides2 ul {
                                        list-style:none;
                                        position:relative;
                                        margin: 0px;

                                    }
                                    /* Кадры анимации #anim_slides */

                                    @-webkit-keyframes anim_slides {
                                        0% {
                                            opacity:0;
                                        }
                                        6% {
                                            opacity:1;
                                        }
                                        24% {
                                            opacity:1;
                                        }
                                        30% {
                                            opacity:0;
                                        }
                                        100% {
                                            opacity:0;
                                        }
                                    }

                                    @-moz-keyframes anim_slides {
                                        0% {
                                            opacity:0;
                                        }
                                        6% {
                                            opacity:1;
                                        }
                                        24% {
                                            opacity:1;
                                        }
                                        30% {
                                            opacity:0;
                                        }
                                        100% {
                                            opacity:0;
                                        }
                                    } 

                                    .slides2 ul li {
                                        opacity:0;
                                        position:absolute;
                                        top:0;

                                        /* анимация css3 */
                                        -webkit-animation-name: anim_slides;
                                        -webkit-animation-duration: 24.0s;
                                        -webkit-animation-timing-function: linear;
                                        -webkit-animation-iteration-count: infinite;
                                        -webkit-animation-direction: normal;
                                        -webkit-animation-delay: 0;
                                        -webkit-animation-play-state: running;
                                        -webkit-animation-fill-mode: forwards;
                                     
                                        -moz-animation-name: anim_slides;
                                        -moz-animation-duration: 24.0s;
                                        -moz-animation-timing-function: linear;
                                        -moz-animation-iteration-count: infinite;
                                        -moz-animation-direction: normal;
                                        -moz-animation-delay: 0;
                                        -moz-animation-play-state: running;
                                        -moz-animation-fill-mode: forwards;
                                    }

                                     

                                    /* Задержки css3 */
                                    .slides2 ul  li:nth-child(2), .slides2 ul  li:nth-child(2) div {
                                        -webkit-animation-delay: 7.0s;
                                        -moz-animation-delay: 7.0s;
                                    }

                                    .slides2 ul  li:nth-child(3), .slides2 ul  li:nth-child(3) div {
                                        -webkit-animation-delay: 13.0s;
                                        -moz-animation-delay: 13.0s;
                                    }

                                    .slides2 ul  li:nth-child(4), .slides2 ul  li:nth-child(4) div {
                                        -webkit-animation-delay: 19.0s;
                                        -moz-animation-delay: 19.0s;
                                    }

                                    .slides2 ul li img {
                                        display:block;

                                    }

                                     

                                    /* Кадры анимации #anim_titles */

                                    @-webkit-keyframes anim_titles {
                                        0% {
                                            left:100%;
                                            opacity:0;
                                        }

                                        5% {
                                            left:10%;
                                            opacity:1;
                                        }

                                        20% {
                                            left:10%;
                                            opacity:1;
                                        }

                                        25% {
                                            left:100%;
                                            opacity:0;
                                        }

                                        100% {
                                            left:100%;
                                            opacity:0;
                                        }
                                    }

                                    @-moz-keyframes anim_titles {
                                        0% {
                                            left:100%;
                                            opacity:0;
                                        }

                                        5% {
                                            left:10%;
                                            opacity:1;
                                        }

                                        20% {
                                            left:10%;
                                            opacity:1;
                                        }

                                        25% {
                                            left:100%;
                                            opacity:0;
                                        }

                                        100% {
                                            left:100%;
                                            opacity:0;
                                        }
                                    }

                                     

                                    .slides2 ul li div {
                                        background-color: #18ef6e;
                                        border-radius:3px 3px 3px 3px;
                                        box-shadow:0 0 5px #EBCB79 none;
                                        color: #50156E;
                                        height: 32px;
                                        width: auto;
                                        font-size: 20px;

                                        margin:0 auto;
                                        padding-left: 10px;
                                        padding-right: 10px;
                                        padding-top: 5px;
                                        position:absolute;
                                        top: 160px;
                                        width: auto;


                                        /* Анимация css3 */

                                        -webkit-animation-name: anim_titles;

                                        -webkit-animation-duration: 24.0s;
                                        -webkit-animation-timing-function: linear;
                                        -webkit-animation-iteration-count: infinite;
                                        -webkit-animation-direction: normal;
                                        -webkit-animation-delay: 0;
                                        -webkit-animation-play-state: running;
                                        -webkit-animation-fill-mode: forwards;
                                     
                                        -moz-animation-name: anim_titles;
                                        -moz-animation-duration: 24.0s;
                                        -moz-animation-timing-function: linear;
                                        -moz-animation-iteration-count: infinite;
                                        -moz-animation-direction: normal;
                                        -moz-animation-delay: 0;
                                        -moz-animation-play-state: running;
                                        -moz-animation-fill-mode: forwards;
                                    }
                                    .slides2 ul li div h2 {
                                      margin: 0px;
                                    }
                                    .slides2 ul li div p {
                                        margin: 0px;
                                    }


.slides3 {
    height: 200px;


    overflow: hidden;
    position: relative;
    width: 200px;
    border-radius: 3px;

}
      .slides3 ul {
          list-style:none;
          position:relative;
          margin: 0px;

      }
      /* Кадры анимации #anim_slides */

      @-webkit-keyframes anim_slides {
          0% {
              opacity:0;
          }
          6% {
              opacity:1;
          }
          24% {
              opacity:1;
          }
          30% {
              opacity:0;
          }
          100% {
              opacity:0;
          }
      }

      @-moz-keyframes anim_slides {
          0% {
              opacity:0;
          }
          6% {
              opacity:1;
          }
          24% {
              opacity:1;
          }
          30% {
              opacity:0;
          }
          100% {
              opacity:0;
          }
      } 

      .slides3 ul li {
          opacity:0;
          position:absolute;
          top:0;

          /* анимация css3 */
          -webkit-animation-name: anim_slides;
          -webkit-animation-duration: 24.0s;
          -webkit-animation-timing-function: linear;
          -webkit-animation-iteration-count: infinite;
          -webkit-animation-direction: normal;
          -webkit-animation-delay: 0;
          -webkit-animation-play-state: running;
          -webkit-animation-fill-mode: forwards;
       
          -moz-animation-name: anim_slides;
          -moz-animation-duration: 24.0s;
          -moz-animation-timing-function: linear;
          -moz-animation-iteration-count: infinite;
          -moz-animation-direction: normal;
          -moz-animation-delay: 0;
          -moz-animation-play-state: running;
          -moz-animation-fill-mode: forwards;
      }

       

      /* Задержки css3 */
      .slides3 ul  li:nth-child(2), .slides3 ul  li:nth-child(2) div {
          -webkit-animation-delay: 8.0s;
          -moz-animation-delay: 8.0s;
      }

      .slides3 ul  li:nth-child(3), .slides3 ul  li:nth-child(3) div {
          -webkit-animation-delay: 14.0s;
          -moz-animation-delay: 14.0s;
      }

      .slides3 ul  li:nth-child(4), .slides3 ul  li:nth-child(4) div {
          -webkit-animation-delay: 20.0s;
          -moz-animation-delay: 20.0s;
      }

      .slides3 ul li img {
          display:block;

      }

       

      /* Кадры анимации #anim_titles */

      @-webkit-keyframes anim_titles {
          0% {
              left:100%;
              opacity:0;
          }

          5% {
              left:10%;
              opacity:1;
          }

          20% {
              left:10%;
              opacity:1;
          }

          25% {
              left:100%;
              opacity:0;
          }

          100% {
              left:100%;
              opacity:0;
          }
      }

      @-moz-keyframes anim_titles {
          0% {
              left:100%;
              opacity:0;
          }

          5% {
              left:10%;
              opacity:1;
          }

          20% {
              left:10%;
              opacity:1;
          }

          25% {
              left:100%;
              opacity:0;
          }

          100% {
              left:100%;
              opacity:0;
          }
      }

       

      .slides3 ul li div {
          background-color: #18ef6e;
          border-radius:3px 3px 3px 3px;
          box-shadow:0 0 5px #EBCB79 none;
          color: #50156E;
          height: 32px;
          width: auto;
          font-size: 20px;

          margin:0 auto;
          padding-left: 10px;
          padding-right: 10px;
          padding-top: 5px;
          position:absolute;
          top: 160px;
          width: auto;


          /* Анимация css3 */

          -webkit-animation-name: anim_titles;

          -webkit-animation-duration: 24.0s;
          -webkit-animation-timing-function: linear;
          -webkit-animation-iteration-count: infinite;
          -webkit-animation-direction: normal;
          -webkit-animation-delay: 0;
          -webkit-animation-play-state: running;
          -webkit-animation-fill-mode: forwards;
       
          -moz-animation-name: anim_titles;
          -moz-animation-duration: 24.0s;
          -moz-animation-timing-function: linear;
          -moz-animation-iteration-count: infinite;
          -moz-animation-direction: normal;
          -moz-animation-delay: 0;
          -moz-animation-play-state: running;
          -moz-animation-fill-mode: forwards;
      }
      .slides3 ul li div h2 {
        margin: 0px;
      }
      .slides3 ul li div p {
          margin: 0px;
      }



                              .slides4 {
                                  height: 200px;


                                  overflow: hidden;
                                  position: relative;
                                  width: 200px;
                                  border-radius: 3px;

                              }
                                    .slides4 ul {
                                        list-style:none;
                                        position:relative;
                                        margin: 0px;

                                    }
                                    /* Кадры анимации #anim_slides */

                                    @-webkit-keyframes anim_slides {
                                        0% {
                                            opacity:0;
                                        }
                                        6% {
                                            opacity:1;
                                        }
                                        24% {
                                            opacity:1;
                                        }
                                        30% {
                                            opacity:0;
                                        }
                                        100% {
                                            opacity:0;
                                        }
                                    }

                                    @-moz-keyframes anim_slides {
                                        0% {
                                            opacity:0;
                                        }
                                        6% {
                                            opacity:1;
                                        }
                                        24% {
                                            opacity:1;
                                        }
                                        30% {
                                            opacity:0;
                                        }
                                        100% {
                                            opacity:0;
                                        }
                                    } 

                                    .slides4 ul li {
                                        opacity:0;
                                        position:absolute;
                                        top:0;

                                        /* анимация css3 */
                                        -webkit-animation-name: anim_slides;
                                        -webkit-animation-duration: 24.0s;
                                        -webkit-animation-timing-function: linear;
                                        -webkit-animation-iteration-count: infinite;
                                        -webkit-animation-direction: normal;
                                        -webkit-animation-delay: 0;
                                        -webkit-animation-play-state: running;
                                        -webkit-animation-fill-mode: forwards;
                                     
                                        -moz-animation-name: anim_slides;
                                        -moz-animation-duration: 24.0s;
                                        -moz-animation-timing-function: linear;
                                        -moz-animation-iteration-count: infinite;
                                        -moz-animation-direction: normal;
                                        -moz-animation-delay: 0;
                                        -moz-animation-play-state: running;
                                        -moz-animation-fill-mode: forwards;
                                    }

                                     

                                    /* Задержки css3 */
                                    .slides4 ul  li:nth-child(2), .slides4 ul  li:nth-child(2) div {
                                        -webkit-animation-delay: 9.0s;
                                        -moz-animation-delay: 9.0s;
                                    }

                                    .slides4 ul  li:nth-child(3), .slides4 ul  li:nth-child(3) div {
                                        -webkit-animation-delay: 15.0s;
                                        -moz-animation-delay: 15.0s;
                                    }

                                    .slides4 ul  li:nth-child(4), .slides4 ul  li:nth-child(4) div {
                                        -webkit-animation-delay: 21.0s;
                                        -moz-animation-delay: 21.0s;
                                    }

                                    .slides4 ul li img {
                                        display:block;

                                    }

                                     

                                    /* Кадры анимации #anim_titles */

                                    @-webkit-keyframes anim_titles {
                                        0% {
                                            left:100%;
                                            opacity:0;
                                        }

                                        5% {
                                            left:10%;
                                            opacity:1;
                                        }

                                        20% {
                                            left:10%;
                                            opacity:1;
                                        }

                                        25% {
                                            left:100%;
                                            opacity:0;
                                        }

                                        100% {
                                            left:100%;
                                            opacity:0;
                                        }
                                    }

                                    @-moz-keyframes anim_titles {
                                        0% {
                                            left:100%;
                                            opacity:0;
                                        }

                                        5% {
                                            left:10%;
                                            opacity:1;
                                        }

                                        20% {
                                            left:10%;
                                            opacity:1;
                                        }

                                        25% {
                                            left:100%;
                                            opacity:0;
                                        }

                                        100% {
                                            left:100%;
                                            opacity:0;
                                        }
                                    }

                                     

                                    .slides4 ul li div {
                                        background-color: #18ef6e;
                                        border-radius:3px 3px 3px 3px;
                                        box-shadow:0 0 5px #EBCB79 none;
                                        color: #50156E;
                                        height: 32px;
                                        width: auto;
                                        font-size: 20px;

                                        margin:0 auto;
                                        padding-left: 10px;
                                        padding-right: 10px;
                                        padding-top: 5px;
                                        position:absolute;
                                        top: 160px;
                                        width: auto;


                                        /* Анимация css3 */

                                        -webkit-animation-name: anim_titles;

                                        -webkit-animation-duration: 24.0s;
                                        -webkit-animation-timing-function: linear;
                                        -webkit-animation-iteration-count: infinite;
                                        -webkit-animation-direction: normal;
                                        -webkit-animation-delay: 0;
                                        -webkit-animation-play-state: running;
                                        -webkit-animation-fill-mode: forwards;
                                     
                                        -moz-animation-name: anim_titles;
                                        -moz-animation-duration: 24.0s;
                                        -moz-animation-timing-function: linear;
                                        -moz-animation-iteration-count: infinite;
                                        -moz-animation-direction: normal;
                                        -moz-animation-delay: 0;
                                        -moz-animation-play-state: running;
                                        -moz-animation-fill-mode: forwards;
                                    }
                                    .slides4 ul li div h2 {
                                      margin: 0px;
                                    }
                                    .slides4 ul li div p {
                                        margin: 0px;
                                    }